


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.slide-container-home {

  position: relative;
}

.slide-content-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.268);
}

.slide-content-home h2 {
  font-size: 60px;
  color: white;
  overflow: hidden;
  white-space: nowrap; 
  animation: typing 6s steps(40) infinite;
}

.slide-content-home p {
  font-size: 25px;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.custom-button-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFFDEF;
  border: none;
  border-radius: 50px;
  color: #C50000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-button-home:hover {
  background-color: #F1F1F1;
  color: #E70000;
}

.custom-button-home:focus {
  outline: none;
}

.custom-button-home:active {
  transform: translateY(2px);
}
