.buttonquiz {
    text-align: center;
    align-items: center;
    margin-top: -20%;
    font-family: 'Roboto', sans-serif;

    padding: 2% 0;
    background-color: #e7df00;
    color: #F1F1F1;

    padding: 12px 24px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 3px 3px #aaaaaa;
    border: none;
}

/* .buttonquiz {} */