#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 600px;
    margin: -340px 0 0 -370px;
    padding: 0;
    color:rgb(29, 27, 27);
    
}


#txt_subtitle {
    font-size: 1.7rem;
    text-align: center;
    color: #fbfbfb;
}

/* Header end */

/* Label and percentage data start */
#labels {
    position: absolute;
    left: 540px;
    top: 150px;
    width: 120px;
}

#percentage_wrapper {
    position: absolute;
    left: 665px;
    top: 151px;
    width: 50px;
    height: 124px;
    overflow: hidden;
}

#percentage {
    position: absolute;
    clip: rect(0px, 50px, 125px, 0px);
}

#labels ul,
#percentage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14rem;
    color: #fbfbfb;
}

#labels li,
#percentage li {
    display: block;
    margin: 0;
    padding: 0 0 8px 0;
}

#labels span {
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    margin: 5px 5px 0 0;
    
   
}

#labels ul:nth-child(1) span {
    background: #0092B9;
}

#labels ul:nth-child(2) span {
    background: #86AD00;
}

#labels ul:nth-child(3) span {
    background: #F2B705;
}

#labels ul:nth-child(4) span {
    background: #D97904;
}

#labels ul:nth-child(5) span {
    background: #BC3603;
}

#percentage p {
    display: block;
    width: 50px;
    margin: 0;
    padding: 0 0 8px 0;
    float: left;
}

#percentage ul {
    position: absolute;
    width: 300px;
}

